html {
  --navfontcolor: red;
  --whitecolor: white;
  --introductioncolor: #efe9df;
  --wantcontentcolor: #cccccc;
  --footercolor: #383734;
  font-family: YuGothic;
}

body {
  overflow-x: hidden;
}

#index {
  background-image: url(../images/noteandpen.png);
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

#wrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  margin: 8px;
}

#about {
  background-image: url(../images/coffee.png);
  background-attachment: fixed;
  background-size: cover;
}

#contact {
  background-image: url(../images/contact.png);
  background-attachment: fixed;
  background-size: cover;
}

#achievement {
  background-image: url(../images/achievement.png);
  background-attachment: fixed;
  background-size: cover;
}

#work {
  background-image: url(../images/work.png);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: yellow;
}

ul {
  list-style: none;
}

.logo img {
  width: 12%;
  position: fixed;
  margin: 0px 20px 10px 50px;
  position: absolute;
  color: var(--navfontcolor);
}

a {
  color: var(--navfontcolor);
}

.global-nav {
  text-align: right;
  padding-top: 20px;
}

.global-nav li {
  padding: 15px;
  display: inline-block;
}

.index-content {
  font-size: 30px;
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.index-content p {
  padding-top: 100px;
}

.about-content {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
  background-color: var(--whitecolor);
  opacity: 0.9;
  margin:0 -200%;
  padding:0 200%;
  padding-bottom: 10px;
  margin-top: 220px
}

.about-content h1 {
  /* font-family: Saol Display,seri; */
  text-align: center;
  margin: 0px;
}

.about-content h2 {
  margin-left: 100px;
}

.about-content h3 {
  margin-left: 100px;
}

.about-content ul {
  margin-left: 100px;
  padding: 0px;
}

.introduction {
  background-color: var(--introductioncolor);
  opacity: 0.9;
  margin:0 -200%;
  padding:0 200%;
  padding-bottom: 10px;
}

.introduction h2 {
  margin: 0px;
  margin-left: 100px;
  padding-top: 30px;
}

.introduction p {
  margin-left: 100px;
}

.want-content {
  background-color: var(--wantcontentcolor);
  opacity: 0.9;
  margin:0 -200%;
  padding:0 200%;
  padding-bottom: 80px;
}

.want-content h2 {
  margin: 0px;
  margin-left: 100px;
  padding-top: 30px;
}

.want-content p {
  margin-left: 100px;
}

footer {
  background-color: var(--footercolor);
  margin:0 -200%;
  padding:0 200%;
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.ft-index {
  opacity: 0.5;
}

small {
  color: var(--whitecolor);
}