html{
	scroll-behavior: smooth;
	--bgimage: url(../photo/smbg7.png);
	--whitecolor: white;
	--contentcolor: #6c6d6c;
	--graycolor: #e7e7e7;
	--paleorangecolor: #efe9df;
	--chocolatecolor: #DDBAA6;
	--footercolor: #000000;
	--footerfontcolor: white;
}

header ul {
	list-style: none;
}

@media screen and (max-width: 480px) { 

	body {
		background-image: var(--bgimage);
		height: 322px;
		margin: 0px;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}

	header {
		margin-top: 40px;
	}

	header a {
		color: var(--whitecolor);
	}

	#logo {
		margin: 0px;
		margin-left: 20px;

	}

	nav ul {
		display: flex;
		justify-content: center;
		margin: 161px 40px 0px 40px;
		padding: 0px;
	}

	nav ul li {
		font-size: 18px;
	}

	.link-about {
		padding-right: 40px;
	}

	.link-contact {
		padding-right: 40px;
	}

	main {
		background-color: var(--whitecolor);
	}

	#about-title {
		color: var(--contentcolor);
		text-align: center;
		padding: 50px 0px 25px 0px;
		margin: 0px;
	}

	.about-content {
		color: var(--contentcolor);
		padding-left: 10px;
		padding-right: 10px;
	}

	#achievement-title {
		color: var(--contentcolor);
		text-align: center;
		padding-top: 50px;
	}

	.achievement-category {
		color: var(--contentcolor);
		text-align: center;
	}

	.achievement-content {
		color: var(--contentcolor);
		padding-left: 10px;
		padding-right: 10px;
	}

	#background-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 20px;
	}

	.background-btn {
		display: inline-block;
		border-radius: 25px;
		width: 180px;
		height:50px;
		text-align: center;
		background-color: var(--whitecolor);
		font-size: 14px;
		line-height: 52px;
		color: var(--contentcolor);
		text-decoration: none;
		border: 2px solid var(--contentcolor);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.background-btn:after{
		width: 100%;
		height: 0;
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		background : var(--contentcolor);
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transition: .2s;
		z-index: -1;
	}
	.background-btn:hover{
		color: var(--whitecolor);
		opacity: 1;
	}
	.background-btn:hover:after{
		height: 240%;
		opacity: 1;
	}
	.background-btn:active:after{
		height: 340%;
		opacity: 1;
	}

	.background-content {
		padding-right: 10px;
		text-align: center;
		position: relative;
		margin-top: 50px;
		border-top: 1px solid var(--contentcolor);
	}

	.background-content .background-btn {
		transform: translateY(-50%) translateX(1em);
	}

	#contact h2 {
		text-align: center;
		color: var(--contentcolor);
	}

	#contact p {
		text-align: center;
		color: var(--contentcolor);
	}

	#contact {
		padding-bottom: 50px;
	}

	#vue-profile {
		background-color : var(--graycolor);
		padding-bottom: 100px;
	}

	#vue-profile h2 {
		margin: 0px;
		margin-left: 10px;
		padding-top: 20px;
		color : var(--contentcolor);
	}

	#vue-profile p {
		padding-top: 100px;
		color : var(--contentcolor);
	}

	.right-img {
		position:relative;
		padding-top: 30px;
		text-align: center;
		padding-right: 155px;
		padding-bottom: 20px;
	}

	.work-img1{
		transform: rotate( -10deg );
		width: 127px;
		height: 96px;
		position:absolute;
	}

	.work-img2 {
		width: 127px;
		height: 96px;
		position:absolute;
	}

	.work-img3 {
		width: 127px;
		height: 96px;
		transform: rotate( 10deg );
		position:absolute;
	}

	#gftd-log {
		filter: drop-shadow(0px -20px 10px  rgb(0, 0, 0, 0.2));
		background-color: var(--paleorangecolor);
		padding-bottom: 100px;
	}

	#gftd-log h2 {
		margin: 0px;
		margin-left: 10px;
		padding-top: 20px;
		color: var(--contentcolor);
	}

	#gftd-log p {
		margin: 0px;
		padding-top: 100px;
		color : var(--contentcolor);
	}

	.left-img {
		position:relative;
		padding-top: 30px;
		text-align: center;
		padding-right: 155px;
		padding-bottom: 20px;
	}

	.work-img4{
		transform: rotate( 10deg );
		position:absolute;
		width: 127px;
		height: 96px;
	}

	.work-img5 {
		width: 127px;
		height: 96px;
		position:absolute;
	}

	.work-img6 {
		width: 127px;
		height: 96px;
		transform: rotate( -10deg );
		position:absolute;
	}

	#life-log {
		filter: drop-shadow(0px -20px 10px  rgb(0, 0, 0, 0.2));
		background-color : var(--chocolatecolor);
		padding-bottom: 100px;
	}

	#life-log h2 {
		margin: 0px;
		margin-left: 10px;
		padding-top: 20px;
		color: var(--contentcolor);
	}

	#life-log p {
		margin: 0px;
		padding-top: 100px;
		color : var(--contentcolor);
		
	}

	#works-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 20px;
		padding-right: 10px;
	}

	#works-info-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 10px;
	}

	.works-info-content {
		padding-left: 10px;
		text-align: center;
		margin-top: 20px;
		padding-bottom: 20px;
	}

	.works-info-btn {
		display: inline-block;
		border-radius: 25px;
		width: 180px;
		height:50px;
		text-align: center;
		background-color: var(--whitecolor);
		font-size: 14px;
		line-height: 52px;
		color: var(--contentcolor);
		text-decoration: none;
		border: 2px solid var(--contentcolor);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.works-info-btn:after{
		width: 100%;
		height: 0;
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		background : var(--contentcolor);
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transition: .2s;
		z-index: -1;
	}
	.works-info-btn:hover{
		color: var(--whitecolor);
		opacity: 1;
	}
	.works-info-btn:hover:after{
		height: 240%;
		opacity: 1;
	}
	.works-info-btn:active:after{
		height: 340%;
		opacity: 1;
	}

	#works-index {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 10px;
		padding-right: 10px;
	}

	footer {
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center;
		background-color: var(--footercolor);
		opacity: 0.8;
	}

	small {
		color: var(--footerfontcolor);
	}

}

@media screen and (min-width: 481px) and (max-width: 1249px) {

	body {
		background-image: var(--bgimage);
		margin: 0px;
		background-attachment: fixed;
		background-size: cover;
		height: 421px;
	}

	header {
		text-align: center;
		margin-top: 400px;
	}

	header a {
		color: var(--whitecolor);
	}

	#logo {
		display: inline-block;
		margin: 0px;
		margin-right: 20px;
	}

	nav {
		display: inline-block;
		width: 500px;
		margin-left: 100px;
	}

	nav ul {
		display: flex;
		justify-content: space-between;
		margin: 0px;
		padding: 0px;
	}

	nav ul li {
		font-size: 18px;
	}

	main {
		background-color: var(--whitecolor);
	}

	#about-title {
		color: var(--contentcolor);
		text-align: center;
		padding: 60px 0px 30px 0px;
		margin: 0px;
	}

	.about-content {
		color: var(--contentcolor);
		padding-left: 100px;
		padding-right: 90px;
	}

	#achievement-title {
		color: var(--contentcolor);
		text-align: center;
		padding-top: 30px;
	}

	.achievement-category {
		color: var(--contentcolor);
		text-align: center;
	}

	.achievement-content {
		color: var(--contentcolor);
		padding-left: 100px;
		padding-right: 90px;
	}

	#background-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 20px;
	}

	.background-btn {
		display: inline-block;
		border-radius: 25px;
		width: 180px;
		height:50px;
		text-align: center;
		background-color: var(--whitecolor);
		font-size: 14px;
		line-height: 52px;
		color: var(--contentcolor);
		text-decoration: none;
		border: 2px solid var(--contentcolor);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.background-btn:after{
		width: 100%;
		height: 0;
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		background : var(--contentcolor);
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transition: .2s;
		z-index: -1;
	}
	.background-btn:hover{
		color: var(--whitecolor);
		opacity: 1;
	}
	.background-btn:hover:after{
		height: 240%;
		opacity: 1;
	}
	.background-btn:active:after{
		height: 340%;
		opacity: 1;
	}

	.background-content {
		padding-right: 10px;
		text-align: center;
		position: relative;
		margin-top: 50px;
		border-top: 1px solid var(--contentcolor);
	}

	.background-content .background-btn {
		transform: translateY(-50%) translateX(1em);
	}

	#contact h2 {
		text-align: center;
		color: var(--contentcolor);
	}

	#contact p {
		text-align: center;
		color: var(--contentcolor);
	}

	#contact {
		padding-bottom: 50px;
	}

	#vue-profile {
		background-color : var(--graycolor);
		padding-bottom: 100px;
	}

	#vue-profile h2 {
		margin: 0px;
		text-align: center;
		padding-top: 50px;
		color : var(--contentcolor);
	}

	#vue-profile p {
		padding-top: 300px;
		text-align: center;
		color : var(--contentcolor);
	}

	.right-img {
		position:relative;
		text-align: center;
		margin-right: 340px;
		margin-top: 100px;
	}

	.work-img1{
		transform: rotate( -10deg );
		position:absolute;
		width: 300px;
		height: 200px;
	}

	.work-img2 {
		width: 300px;
		height: 200px;
		position:absolute;
	}

	.work-img3 {
		width: 300px;
		height: 200px;
		transform: rotate( 10deg );
		position:absolute;
	}

	#gftd-log {
		filter: drop-shadow(0px -20px 10px  rgb(0, 0, 0, 0.2));
		background-color: var(--paleorangecolor);
		padding-bottom: 100px;
	}

	#gftd-log h2 {
		margin: 0px;
		text-align: center;
		padding-top: 50px;
		color: var(--contentcolor);
	}

	#gftd-log p {
		padding-top: 300px;
		text-align: center;
		color : var(--contentcolor);
	}

	.left-img {
		position:relative;
		text-align: center;
		margin-right: 340px;
		margin-top: 100px;
	}

	.work-img4{
		transform: rotate( 10deg );
		position:absolute;
		width: 300px;
		height: 200px;
	}

	.work-img5 {
		width: 300px;
		height: 200px;
		position:absolute;
	}

	.work-img6 {
		width: 300px;
		height: 200px;
		transform: rotate( -10deg );
		position:absolute;
	}

	#life-log {
		filter: drop-shadow(0px -20px 10px  rgb(0, 0, 0, 0.2));
		background-color : var(--chocolatecolor);
		padding-bottom: 100px;
	}

	#life-log h2 {
		margin: 0px;
		text-align: center;
		padding-top: 50px;
		color : var(--contentcolor);
	}

	#life-log p {
		padding-top: 300px;
		text-align: center;
		color : var(--contentcolor);
	}

	#works-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 20px;
		padding-right: 10px;
	}

	#works-info-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 10px;
	}

	.works-info-content {
		padding-left: 10px;
		text-align: center;
		margin-top: 20px;
		padding-bottom: 20px;
	}

	.works-info-btn {
		display: inline-block;
		border-radius: 25px;
		width: 180px;
		height:50px;
		text-align: center;
		background-color: var(--whitecolor);
		font-size: 14px;
		line-height: 52px;
		color: var(--contentcolor);
		text-decoration: none;
		border: 2px solid var(--contentcolor);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.works-info-btn:after{
		width: 100%;
		height: 0;
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		background : var(--contentcolor);
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transition: .2s;
		z-index: -1;
	}
	.works-info-btn:hover{
		color: var(--whitecolor);
		opacity: 1;
	}
	.works-info-btn:hover:after{
		height: 240%;
		opacity: 1;
	}
	.works-info-btn:active:after{
		height: 340%;
		opacity: 1;
	}

	#works-index {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 10px;
		padding-right: 10px;
	}

	footer {
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center;
		background-color: var(--footercolor);
		opacity: 0.8;
	}

	small {
		color: var(--footerfontcolor);
	}

}

@media screen and (min-width:1250px) {

	body {
		background-image: var(--bgimage);
		background-attachment: fixed;
		background-size: cover;
		margin: 0px;
	}

	header {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 500px;
	}

	header a {
		color: var(--whitecolor);
	}

	#logo {
		display: inline-block;
		margin: 0px;
		margin-right: 20px;
	}

	nav {
		display: inline-block;
		width: 500px;
		margin-left: 100px;
	}

	nav ul {
		display: flex;
		justify-content: space-between;
		margin: 0px;
		padding: 0px;
	}

	nav ul li {
		font-size: 18px;
	}
	
	main {
		background-color: var(--whitecolor);
	}

	#about-title {
		color: var(--contentcolor);
		text-align: center;
		padding: 100px 0px 50px 0px;
		margin: 0px;
	}

	.about-content {
		color: var(--contentcolor);
		padding-left: 420px;
		padding-right: 300px;
	}

	#achievement-title {
		color: var(--contentcolor);
		text-align: center;
		padding-top: 50px;
	}

	.achievement-category {
		color: var(--contentcolor);
		text-align: center;
	}

	.achievement-content {
		color: var(--contentcolor);
		padding-left: 420px;
		padding-right: 300px;
	}

	#background-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 20px;
	}

	.background-btn {
		display: inline-block;
		border-radius: 25px;
		width: 180px;
		height:50px;
		text-align: center;
		background-color: var(--whitecolor);
		font-size: 14px;
		line-height: 52px;
		color: var(--contentcolor);
		text-decoration: none;
		border: 2px solid var(--contentcolor);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.background-btn:after{
		width: 100%;
		height: 0;
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		background : var(--contentcolor);
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transition: .2s;
		z-index: -1;
	}
	.background-btn:hover{
		color: var(--whitecolor);
		opacity: 1;
	}
	.background-btn:hover:after{
		height: 240%;
		opacity: 1;
	}
	.background-btn:active:after{
		height: 340%;
		opacity: 1;
	}

	.background-content {
		padding-right: 10px;
		text-align: center;
		position: relative;
		margin-top: 50px;
		border-top: 1px solid var(--contentcolor);
	}

	.background-content .background-btn {
		transform: translateY(-50%) translateX(1em);
	}

	#contact h2 {
		text-align: center;
		color: var(--contentcolor);
	}

	#contact p {
		text-align: center;
		color: var(--contentcolor);
	}

	#contact {
		padding-bottom: 50px;
	}

	#vue-profile {
		background-color : var(--graycolor);
		padding-bottom: 300px;
	}

	#vue-profile h2 {
		margin: 0px;
		margin-left: 200px;
		padding-top: 50px;
		align-items: center;
		color : var(--contentcolor);
	}

	#vue-profile p {
		padding-top: 25px;
		margin-left: 180px;
		color : var(--contentcolor);
	}

	.right-img {
		position:relative;
		text-align: end;
		margin-right: 400px;
	}

	.work-img1{
		transform: rotate( -10deg );
		position:absolute;
		width: 300px;
		height: 200px;
	}

	.work-img2 {
		width: 300px;
		height: 200px;
		position:absolute;
	}

	.work-img3 {
		width: 300px;
		height: 200px;
		transform: rotate( 10deg );
		position:absolute;
	}

	#gftd-log {
		filter: drop-shadow(0px -20px 10px  rgb(0, 0, 0, 0.2));
		background-color: var(--paleorangecolor);
		padding-bottom: 300px;
	}

	#gftd-log h2 {
		margin: 0px;
		margin-left: 600px;
		padding-top: 50px;
		color: var(--contentcolor);
	}

	#gftd-log p {
		margin: 0px;
		margin-left: 580px;
		padding-top: 25px;
		color : var(--contentcolor);
	}

	.left-img {
		position:relative;
	}

	.work-img4{
		transform: rotate( 10deg );
		position:absolute;
		width: 300px;
		height: 200px;
	}

	.work-img5 {
		width: 300px;
		height: 200px;
		position:absolute;
	}

	.work-img6 {
		width: 300px;
		height: 200px;
		transform: rotate( -10deg );
		position:absolute;
	}

	#life-log {
		filter: drop-shadow(0px -20px 10px  rgb(0, 0, 0, 0.2));
		background-color : var(--chocolatecolor);
		padding-bottom: 200px;
	}

	#life-log h2 {
		margin: 0px;
		margin-left: 200px;
		padding-top: 50px;
		align-items: center;
		color : var(--contentcolor);
	}

	#life-log p {
		padding-top: 25px;
		margin-left: 180px;
		color : var(--contentcolor);
	}

	#works-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 20px;
		padding-right: 10px;
	}

	#works-info-title {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 10px;
	}

	.works-info-content {
		padding-left: 10px;
		text-align: center;
		margin-top: 20px;
		padding-bottom: 20px;
	}

	.works-info-btn {
		display: inline-block;
		border-radius: 25px;
		width: 180px;
		height:50px;
		text-align: center;
		background-color: var(--whitecolor);
		font-size: 14px;
		line-height: 52px;
		color: var(--contentcolor);
		text-decoration: none;
		border: 2px solid var(--contentcolor);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.works-info-btn:after{
		width: 100%;
		height: 0;
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;
		background : var(--contentcolor);
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transition: .2s;
		z-index: -1;
	}
	.works-info-btn:hover{
		color: var(--whitecolor);
		opacity: 1;
	}
	.works-info-btn:hover:after{
		height: 240%;
		opacity: 1;
	}
	.works-info-btn:active:after{
		height: 340%;
		opacity: 1;
	}

	#works-index {
		text-align: center;
		color: var(--contentcolor);
		padding-top: 10px;
		padding-right: 10px;
	}

	footer {
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center;
		background-color: var(--footercolor);
		opacity: 0.8;
	}

	small {
		color: var(--footerfontcolor);
	}
	
}